<div ng-controller="BingewaveCtrl" ng-cloak>
	<div allow="camera; microphone" width="100%" height="600" ng-bind-html="stream_embed"></div>

	<h4>Live Events</h4>
	<div class="social-item">
		<div class="head">
			<div class="social-profile-photo">
				<p class="text-primary ellipsis">
					<a class="ng-cloak" ng-click="goToEvent()">Open This Event</a>
				</p>
			</div>
		</div>
	</div>
	
	<div>
		<video id="gum-local" autoplay playsinline></video>
		<button ng-click="startCameraBroadcast()">Test Open WebRTC Camera</button>
	</div>
	<button ng-click="isAvailable()">
		isCameraAvailable
	</button>
	<button ng-click="requestAuth()">
		requestAuthorization
	</button>
</div>